<ion-content>
  <br><br>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Información del Estudiante</ion-label>
    </ion-item>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>

            <div class="barra-vertical ion-text-center">
              <ion-icon class="color-texto-header" size="large" name="code-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>

            <div class="barra-vertical ion-text-center">
              <ion-icon class="color-texto-header" size="large" name="code-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>