<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-top">
    <ion-title>
      Registro de Asistencias
    </ion-title>
  </div>

  <ion-list class="ion-padding-top">
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-icon color="secondary"  slot="start" name="bookmarks-outline"></ion-icon>
      <ion-label>
        <p>Curso: {{asistencia.idCurso}}</p>
        <p>Fecha: {{asistencia.fecha}}</p>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>