<ion-content>
  <ion-grid class="grid1">

    <ion-row class="row1">
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slide>
    <ion-card class="container-login">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <ion-item >
          <ion-label  position="floating">Usuario</ion-label>
          <ion-input placeholder='ingrese usuario' required='true' minlength='3' maxlength='8' [(ngModel)]='nombreUsuario' type='text' ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input placeholder='ingrese password' required='true' minlength='4' maxlength='4' type='password'></ion-input>
        </ion-item>
  
        <ion-button class="ion-margin-top" (click)=login() style="--background:#FFB800" expand="block">Ingresar</ion-button>
        
        <div class="ion-text-center ion-margin-top div-link">
          <a id="link-reset" routerLink = "/pass-reset">Recuperar Contraseña</a>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-content>