<ion-content>
  <ion-grid class="grid1">

    <ion-row class="row1">
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slide>
    <ion-card class="container-login">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Recuperar Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="formularioReset" (ngSubmit)= "onResetPassword()">

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName ="user">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="email" formControlName ="email">
          </mat-form-field>

          <div class="ion-text-center ion-margin-top">
            <button type="submit" [disabled]="formularioReset.invalid" class="boton-login" type="submit"  mat-raised-button
              color="primary">Recuperar</button>
          </div>

        </form>

        <div class="ion-text-center ion-margin-top div-link">
          <a id="link-reset" routerLink="/login">Volver a Inicio de Sesion</a>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-content>
